@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue : hsl(198, 62%, 26%);
    --Dark-moderate-cyan :  hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    
}

/*css rest*/

*,*::before,  *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*end of css rest*/

/*body & container*/

body {
   text-align: center;
   
}

.container {
    max-width: 23.438rem;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin: 0 auto;
}

/*end of the body & container*/

/*header*/

header {
    background-image: url(images/mobile/image-header.jpg);
    background-position: center 92%;
    background-size: cover;
    height: 33.25rem;
}

.arrow-container {
    position: relative;
   
}

.arrow-down {
    position: absolute;
    top: 0.813rem;
    left: 45%;
    transform: translateY(49px);
}

h1 {
    color: var(--White);
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 7.5rem;
    font-size: 2.5rem;
    letter-spacing: 7px;
    line-height: 1.3;
}

/*end of the header*/

/*main*/
.paragraph-box {
    padding: 2.5rem 1.5rem;
}


h3 {
    color: var(--Very-dark-desaturated-blue);
    font-family: "Fraunces", serif;
    font-size: 2.165rem;
    font-weight: 900;
    line-height: 1.2;
    margin: 1.563rem 0;
}

p {
    font-family: "Barlow", serif;
    color: var(--Dark-grayish-blue);
    font-size: 1.055rem;
    font-weight: 600;
    opacity: 0.87;
    line-height: 1.6;
    margin-bottom: 1.85rem;
}

.learn-more {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 0.875rem;
    margin-bottom: 1.613rem;
}

.learn-more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 0.395rem;
    background-color: var(--yellow);
    z-index: -1;
    width: 6.363rem;
    opacity: 0.5;
    transition: height 0.3s ease;
}

.learn-more-two::after {
    background-color: var(--Soft-red);
}

.learn-more:hover::after {
    height: 0.813rem;
    opacity: 1;
}

.image-container {
    position: relative;

}

.text-overlay {
    position: absolute;
    transform: translateY(-40px);
    bottom: -3px;
}

h5 {
    color: var(--Dark-desaturated-cyan);
    font-family: "Fraunces", serif;
    font-size: 1.953rem;
    font-weight: 900;
    margin-bottom: 1.588rem;
}

.text-description {
    color: var(--Dark-desaturated-cyan);
    padding: 0.813rem 0.125rem;
}

.photographery {
    color: var(--Dark-blue);
}

.caption-text {
    color: var(--Dark-blue);
    margin-bottom: 0.980rem;
}

/*end of the main*/

/*section one*/

.section-one {
    padding: 2.125rem 2.450rem;
}

.highlight-text {
    color: var(--Grayish-blue);
    font-family: "Fraunces", serif;
    font-size: 0.965rem;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 1.955rem 0 3.125rem 0;
}

.testimonial {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-image {
    border-radius: 50%;
    width: 3.75rem;
    margin: 0 auto;
    margin-bottom: 1.875rem;
}

.paragraph-section {
    color: var(--Very-dark-grayish-blue);
    opacity: 0.89;
}

.name {
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.position {
    color: var(--Grayish-blue);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 3.438rem;
}

/*End of the section one*/

/*section two*/

.section-two {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/*End of the section one*/

/*footer*/

footer {
    background-color: hsl(167, 44%, 70%);
    
}

.sunny-side {
    color: var(--Dark-desaturated-cyan);
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2.188rem;
    opacity: 0.8;
    margin: 3.438rem 0 2.5rem 0;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-links a {
    text-decoration: none;
    color: var(--Dark-moderate-cyan);
    font-family: "Barlow", serif;
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 0.96;
    margin-bottom: 0.938rem;
    will-change: transform;
    transition: transform 0.3s linear;
}

.footer-links a:hover {
    transform: scale(1.2);
    color: var(--White);
}

.icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 1px;
    margin: 4.096rem 3.75rem 4.375rem 3.75rem;
    transition: filter 0.3s;
}

.icons a:hover {
    filter: brightness(0) invert(1);
}


/*End of the footer*/

@media only screen and (min-width:80rem) {

    /*body & container*/
    .container {
        max-width: 80rem;
        width: 100%;
    }
    /*end of the body & container*/


    /*header*/
    header {
        background-image: url(images/desktop/image-header.jpg);
    }
    /*end of the header*/

    /*main*/

    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .paragraph-box-grid-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .paragraph-box {
        text-align: left;
        padding: 5.5rem 5.1rem 0 5rem;
    }
    
    h3 {
        font-size: 2.475rem;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 1.195rem;
        margin-bottom: 35px;
    }

    .learn-more {
        font-size: 0.943rem;
    }

    .learn-more::after {
        width: 6.875rem;
    }

    .learn-more:hover::after {
        height: 0.913rem;
    }

    .text-description, .caption-text {
        padding: 0 7rem;
    }

    .text-adjustment {
        margin-bottom: -1.25rem;
    }

    /*end of the main*/
    
    /*section one*/

    .section-one {
        margin: 4rem 0;
    }

    .highlight-text {
        font-size: 1.311rem;
        font-weight: 700;
        opacity: 0.9;
        margin-bottom: 55px;
    }

    .section-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1.125rem;
    }
    /*end of the section one*/

    /*section two*/
    .section-two {
        grid-template-columns: repeat(4, 1fr); 
    }
    /*end of the section two*/

    /*footer*/

    .sunny-side {
        font-size: 2.665rem;
    }

    .footer-links {
        justify-content: center;
        align-items: center;
        gap: 4.063rem;
    }

    .footer-links a {
        font-size: 1.215rem;
    }

    .icons{
       justify-content: center;
       align-items: center;
       gap: 2.375rem;
       margin: 3.5rem 3rem 2.5rem 3rem;
    }
    /*end of the footer*/

}
